.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

body {
  /*background-color: #170507;*/
}

.power-up {
  /*background-color: #C7C6B7;*/
  /*color: #170507;*/
}

.power-down {
  /*background-color: #170507;*/
  /*color: white;*/
}

#contact {
  background-color: white;
}

.icon {
  padding: 15px;
  img {
    padding-bottom: 20px;
    width: 60%;
  }
}


.power-down, .power-up {
  margin-top: 50px;
}

#contact {
  background: linear-gradient(90deg, #01081A, #1C3957, #80757D);
  /*opacity: 0.8;*/
  color: white;
  .toggle-group label {
    background-color: rgba(156,147,142, 0.4);
    color: white;
  }
}

#contact.power-button-on {
  background: linear-gradient(90deg, #444D6A, #898383, #EBC99C);
  color: white;
  .toggle-group label {
    background-color: rgba(0,0,27, 0.4);
    color: white;
  }
}



